#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_6col_layout;

        // zmk,physical-layout = &foostan_corne_5col_layout;
    };
};

/ {
    macros {
        m_ka: ka {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp A>;
            label = "KA";
        };

        m_ki: ki {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp I>;
            label = "KI";
        };

        m_ku: ku {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp U>;
            label = "KU";
        };

        m_ke: ke {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp E>;
            label = "KE";
        };

        m_ko: ko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp O>;
            label = "KO";
        };

        m_ga: ga {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp A>;
            label = "GA";
        };

        m_gi: gi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp I>;
            label = "GI";
        };

        m_gu: gu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp U>;
            label = "GU";
        };

        m_ge: ge {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp E>;
            label = "GE";
        };

        m_go: go {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp O>;
            label = "GO";
        };

        m_sa: sa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp A>;
            label = "SA";
        };

        m_si: si {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp I>;
            label = "SI";
        };

        m_su: su {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp U>;
            label = "SU";
        };

        m_se: se {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp E>;
            label = "SE";
        };

        m_so: so {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp O>;
            label = "SO";
        };

        m_za: za {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Z &kp A>;
            label = "ZA";
        };

        m_zi: zi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Z &kp I>;
            label = "ZI";
        };

        m_zu: zu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Z &kp U>;
            label = "ZU";
        };

        m_ze: ze {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Z &kp E>;
            label = "ZE";
        };

        m_zo: zo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Z &kp O>;
            label = "ZO";
        };

        m_ta: ta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp A>;
            label = "TA";
        };

        m_ti: ti {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp I>;
            label = "TI";
        };

        m_tu: tu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp U>;
            label = "TU";
        };

        m_te: te {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp E>;
            label = "TE";
        };

        m_to: to {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp O>;
            label = "TO";
        };

        m_da: da {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp A>;
            label = "DA";
        };

        m_di: di {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp I>;
            label = "DI";
        };

        m_du: du {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp U>;
            label = "DU";
        };

        m_de: de {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp E>;
            label = "DE";
        };

        m_do: do {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp O>;
            label = "DO";
        };

        m_na: na {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp A>;
            label = "NA";
        };

        m_ni: ni {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp I>;
            label = "NI";
        };

        m_nu: nu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp U>;
            label = "NU";
        };

        m_ne: ne {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp O>;
            label = "NE";
        };

        m_ha: ha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp H &kp A>;
            label = "HA";
        };

        m_hi: hi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp H &kp I>;
            label = "HI";
        };

        m_hu: hu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp H &kp U>;
            label = "HU";
        };

        m_he: he {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp H &kp E>;
            label = "HE";
        };

        m_ho: ho {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp H &kp O>;
            label = "HO";
        };

        m_ba: ba {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp A>;
            label = "BA";
        };

        m_bi: bi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp I>;
            label = "BI";
        };

        m_bu: bu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp U>;
            label = "BU";
        };

        m_be: be {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp E>;
            label = "BE";
        };

        m_bo: bo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp O>;
            label = "BO";
        };

        m_pa: pa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp A>;
            label = "PA";
        };

        m_pi: pi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp I>;
            label = "PI";
        };

        m_pu: pu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp E>;
            label = "PU";
        };

        m_po: po {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp O>;
            label = "PO";
        };

        m_ma: ma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp A>;
            label = "MA";
        };

        m_mi: mi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp I>;
            label = "MI";
        };

        m_mu: mu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp U>;
            label = "MU";
        };

        m_me: me {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp E>;
            label = "ME";
        };

        m_mo: mo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp O>;
            label = "MO";
        };

        m_ya: ya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp A>;
            label = "YA";
        };

        m_yu: yu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp U>;
            label = "YU";
        };

        m_yo: yo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp O>;
            label = "YO";
        };

        m_lya: lya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp Y &kp A>;
            label = "LYA";
        };

        m_lyu: lyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp Y &kp U>;
            label = "LYU";
        };

        m_lyo: lyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp Y &kp O>;
            label = "LYO";
        };

        m_ra: ra {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp A>;
            label = "RA";
        };

        m_ri: ri {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp I>;
            label = "RI";
        };

        m_ru: ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp U>;
            label = "RU";
        };

        m_re: re {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp E>;
            label = "RE";
        };

        m_ro: ro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp O>;
            label = "RO";
        };

        m_wa: wa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp W &kp A>;
            label = "WA";
        };

        m_wi: wi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp W &kp I>;
            label = "WI";
        };

        m_we: we {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp W &kp E>;
            label = "WE";
        };

        m_wo: wo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp W &kp O>;
            label = "WO";
        };

        m_nn: nn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp N>;
            label = "NN";
        };

        m_vu: vu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp V &kp U>;
            label = "VU";
        };

        m_la: la {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp A>;
            label = "LA";
        };

        m_li: li {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp I>;
            label = "LI";
        };

        m_lu: lu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp U>;
            label = "LU";
        };

        m_le: le {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp E>;
            label = "LE";
        };

        m_lo: lo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp O>;
            label = "LO";
        };

        m_tog4_hen: m_tog4_hen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&tog 4 &kp INT_HENKAN>;
            label = "M_TOG4_HEN";
        };

        m_pe: m_pe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp E>;
            label = "M_PE";
        };

        m_surassyu: m_surassyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp U &kp R &kp A &kp S &kp S &kp Y &kp U>;
            label = "M_SURASSYU";
        };

        m_tog0_muhen: m_tog0_muhen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&tog 0 &kp INT_MUHENKAN>;
            label = "M_TOG0_MUHEN";
        };

        m_no: m_no {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp O>;
            label = "M_NO";
        };

        m_ltu: m_ltu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp T &kp U>;
            label = "M_LTU";
        };
    };

    combos {
        compatible = "zmk,combos";

        cb_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        cb_del {
            bindings = <&kp DELETE>;
            key-positions = <11 10>;
        };

        cb_win_shift_s {
            bindings = <&kp LS(LG(S))>;
            key-positions = <35 34>;
        };

        cb_kana {
            bindings = <&kp INT_KANA>;
            key-positions = <41 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R           &kp T                 &kp Y        &kp U        &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL       &kp A  &kp S  &kp D         &kp F           &kp G                 &kp H        &kp J        &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C         &kp V           &lt 3 B               &kp N        &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp INT_YEN
                              &kp LEFT_GUI  &kp LEFT_SHIFT  &mt LEFT_ALT SPACE    &lt 1 ENTER  &m_tog4_hen  &mo 2
            >;
        };

        lower_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |Studio|
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp QUESTION      &kp LS(NUMBER_2)  &kp LS(EQUAL)  &kp RIGHT_BRACKET  &kp BACKSLASH       &kp LS(COMMA)     &kp LS(PERIOD)    &kp LS(N8)         &kp LS(N9)            &kp LEFT_BRACKET  &trans
&trans  &kp NUMBER_1      &kp NUMBER_2      &kp NUMBER_3   &kp NUMBER_4       &kp NUMBER_5        &kp NUMBER_6      &kp NUMBER_7      &kp NUMBER_8       &kp NUMBER_9          &kp NUMBER_0      &kp MINUS
&trans  &kp LS(NUMBER_1)  &kp LS(N7)        &kp EQUAL      &kp LS(NUMBER_4)   &kp LS(NUMBER_5)    &kp LS(NUMBER_6)  &kp LS(NUMBER_3)  &kp LS(SEMICOLON)  &kp LS(SINGLE_QUOTE)  &kp LS(MINUS)     &kp LS(INT_YEN)
                                            &trans         &trans             &trans              &trans            &trans            &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5     &trans         &kp HOME     &kp UP_ARROW  &kp END        &trans   &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &kp BACKSPACE  &kp LEFT     &kp DOWN      &kp RIGHT      &kp TAB  &trans
&trans  &kp F11  &kp F12  &trans  &trans  &trans     &trans         &kp PAGE_UP  &kp LG(S)     &kp PAGE_DOWN  &trans   &trans
                          &trans  &trans  &trans     &trans         &trans       &trans
            >;
        };

        BLUETOOTH_LAYER {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4        &trans    &bl BL_TOG  &trans            &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans              &trans    &trans      &trans            &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans              &trans    &trans      &trans            &trans  &trans  &trans  &trans
                                          &trans        &lt 4 INT_MUHENKAN  &trans    &trans      &lt 5 INT_HENKAN  &trans
            >;
        };

        NICOLA_LAYER {
            bindings = <
&trans  &kp PERIOD  &m_ka  &m_ta   &m_ko               &m_sa     &m_ra   &m_ti             &m_ku   &m_tu  &kp COMMA  &trans
&trans  &kp U       &m_si  &m_te   &m_ke               &m_se     &m_ha   &m_to             &m_ki   &kp I  &m_nn      &kp COLON
&trans  &kp PERIOD  &m_hi  &m_su   &m_hu               &m_he     &m_me   &m_so             &m_ne   &m_ho  &kp SLASH  &kp BACKSLASH
                           &trans  &lt 5 INT_MUHENKAN  &trans    &trans  &lt 6 INT_HENKAN  &trans
            >;
        };

        OYAYUBI_HIDARI_LAYER {
            bindings = <
&trans  &m_la  &kp E      &m_ri   &m_lya  &m_re     &m_pa   &m_di          &m_gu   &m_du   &m_pi          &trans
&trans  &m_wo  &kp A      &m_na   &m_lyu  &m_mo     &m_ba   &m_do          &m_gi   &m_po   &kp SEMICOLON  &kp ASTERISK
&trans  &m_lu  &kp MINUS  &m_ro   &m_ya   &m_li     &m_pu   &m_zo          &m_pe   &trans  &m_surassyu    &kp LS(INT_YEN)
                          &trans  &trans  &trans    &trans  &m_tog0_muhen  &trans
            >;
        };

        OYAYUBI_MIGI_LAYER {
            bindings = <
&trans  &trans  &m_ga  &m_da   &m_go          &m_za     &m_yo   &m_ni   &m_ru   &m_ma   &m_le   &trans
&trans  &m_vu   &m_zi  &m_de   &m_ge          &m_ze     &m_mi   &kp O   &m_no   &m_lyo  &m_ltu  &kp COLON
&trans  &trans  &m_bi  &m_zu   &m_bu          &m_be     &m_nu   &m_yu   &m_mu   &m_wa   &m_lyo  &kp LS(INT_YEN)
                       &trans  &m_tog0_muhen  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        oyayubi_hidari {
            if-layers = <4>;
            then-layer = <5>;
        };

        oyayubi_migi {
            if-layers = <4>;
            then-layer = <6>;
        };
    };
};
